.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  font-family: 'Fontsfree net sfprodisplay', sans-serif;
  color: #000;
  font-weight: 400;
}

.nav-link {
  padding-right: 24px;
  padding-left: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.42px;
  white-space: nowrap;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 5%;
  background-color: transparent;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1245px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  width: 100%;
  max-width: 200px;
}

.section {
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-bottom: 57px;
  padding-left: 5%;
}

.section.footer {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #0e131d;
  color: #fff;
}

.section.hero {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
}

.section.n-two {
  position: relative;
  overflow: visible;
  padding-top: 80px;
  padding-bottom: 120px;
}

.section.business-inquiry-section {
  padding-top: 181px;
  padding-bottom: 181px;
  background-color: #ffdef3;
}

.nav-link-2 {
  padding-right: 21px;
  padding-left: 21px;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-link-2.lft {
  display: block;
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  color: hsla(0, 0%, 100%, 0.49);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.nav-link-2.lft._24px {
  margin-bottom: 0px;
}

.image-8 {
  max-width: 32px;
  min-width: 32px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: transparent;
}

.grid-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  padding-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  -ms-grid-columns: 100px 100px;
  grid-template-columns: 100px 100px;
}

._18px-2 {
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 700;
}

._18px-2.social-media-group {
  margin-bottom: 0px;
}

._16px-2 {
  width: 100%;
  max-width: 448px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

._16px-2._26px {
  margin-bottom: 56px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.48px;
}

._16px-2._50-opa {
  opacity: 0.5;
  color: hsla(0, 0%, 100%, 0.59);
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.42px;
}

._16px-2._50-opa.mobile {
  display: none;
}

.logo {
  width: 100%;
  max-width: 171px;
  margin-bottom: 20px;
}

.link-img-and-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.link-img-and-text._44 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding {
  height: 23px;
}

.shadow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: #fff;
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.09);
  opacity: 0;
}

.nav-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2px;
  padding: 7px 17px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  border-radius: 24px;
  background-color: #020a1e;
  color: #fff;
  letter-spacing: 0.42px;
  text-decoration: none;
}

._14-bold {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 32px;
  min-width: 32px;
  padding: 5px 8px 5px 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ea24a3;
  font-weight: 700;
}

.top-img {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 12%;
  max-width: 430px;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 917.68px;
  margin-right: auto;
  margin-left: auto;
}

.container.flex-apart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1245px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container._1245 {
  max-width: 1245px;
  padding: 52px 16px 60px;
  border-bottom-left-radius: 50px;
  background-color: rgba(255, 186, 206, 0.13);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.54px;
}

.container._1245.hide {
  display: none;
}

.container.footer {
  max-width: 1261px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container._20-down {
  margin-bottom: 20px;
}

.container.top98 {
  margin-top: 98px;
}

.container.how-does-it-work-container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-img {
  width: 100%;
  max-width: 631px;
}

.right-block.max-514 {
  position: relative;
  width: 45%;
  max-width: 514px;
}

.heading-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 53px;
  line-height: 70px;
  font-weight: 300;
  letter-spacing: 2.01px;
}

.e717a7 {
  color: #e717a7;
  font-weight: 700;
}

.max-86 {
  position: absolute;
  left: -7%;
  top: auto;
  right: auto;
  bottom: 10%;
  min-width: 21px;
}

.for-brand-wrap {
  width: 100%;
  margin-bottom: 80px;
}

.for-brand-wrap.no-80 {
  margin-bottom: 0px;
}

.heading-50px {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e717a7;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 1.5px;
}

.heading-50px.how-does-it-work-heading {
  margin-bottom: 53px;
  text-align: center;
}

.font-light {
  font-weight: 300;
}

.padding-16-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.padding-16-16.make-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.para-36px {
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.para-16px {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.para-16px.max-641 {
  max-width: 641px;
}

.max-98 {
  width: 98px;
}

.flex {
  position: relative;
  left: -45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 21px;
  grid-row-gap: 21px;
}

.flex.short {
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.brand-wrap {
  width: 100%;
  padding-bottom: 0px;
  padding-left: 72px;
}

.sticky-pill {
  position: -webkit-sticky;
  position: sticky;
  top: 22%;
  width: 4px;
  height: 110px;
  min-height: 110px;
  min-width: 4px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e717a7), to(#fe7880));
  background-image: linear-gradient(180deg, #e717a7, #fe7880);
}

.pill-parent {
  position: relative;
  width: 4px;
  height: 100%;
  min-height: 640.57px;
  background-color: #e3e3e3;
}

.pill-parent.small {
  min-height: 600px;
}

.testimonial-wrap {
  width: 100%;
  max-width: 765.74px;
  margin-right: auto;
  margin-left: auto;
}

.max-652 {
  max-width: 652px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.76);
}

._22px {
  font-size: 22px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.66px;
}

._16px-reg {
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.negative-roll {
  position: relative;
  bottom: -28px;
}

.form-sha {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 38px 16px 61px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.embed {
  width: 0px;
  height: 0px;
  max-height: 0px;
  max-width: 0px;
  min-height: 0px;
  min-width: 0px;
}

._40px-bold {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}

._40px-bold.pink {
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
  color: #e717a7;
  font-weight: 700;
}

.padding-28-21 {
  width: 100%;
  max-width: 570px;
  margin: 28px auto 21px;
  color: rgba(0, 0, 0, 0.76);
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.54px;
}

.form {
  display: block;
  width: 100%;
  margin-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.field-label {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.text-field {
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
  font-size: 15px;
  line-height: 22px;
}

.text-field._80 {
  width: 100%;
  height: 80px;
  max-height: 150px;
  max-width: 100%;
  margin-bottom: 32px;
}

.submit-button {
  display: block;
  width: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
  clear: none;
  border-radius: 8px;
  background-color: #e717a7;
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.success-message {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 4px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}

.error-message {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 4px;
}

.footer-max-340 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  max-width: 340px;
  margin-right: 0px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.img-wrapper {
  width: 50%;
  max-width: 631px;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.image-26 {
  position: -webkit-sticky;
  position: sticky;
  left: auto;
  top: 10%;
  right: 0%;
  bottom: auto;
  display: block;
  max-width: 80%;
}

.contact {
  width: 100%;
  height: 1px;
}

.bg-relative {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.formsppp {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999999;
  display: none;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0);
  opacity: 1;
}

.form-block {
  position: relative;
  width: 100%;
  max-width: 1271.57px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top: 20px none #e717a7;
  background-color: #fff;
}

.text-block {
  padding-top: 68px;
  padding-bottom: 23px;
  color: #e717a7;
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  text-align: center;
}

.close {
  position: absolute;
  left: auto;
  top: 0%;
  right: 3%;
  bottom: auto;
  width: 20px;
  max-width: 26.56px;
  padding-top: 20px;
  cursor: pointer;
}

.form-2 {
  position: relative;
}

.text-field-2 {
  width: 100%;
  min-height: 60px;
  margin-bottom: 0px;
  padding-left: 4px;
  border: 1px solid #e0e0e6;
  border-radius: 8px;
  background-color: #fafafc;
  font-size: 17px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 29px;
  grid-row-gap: 29px;
}

.submit-button-2 {
  min-height: 60px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 8px;
  background-color: #e717a7;
  font-size: 20px;
  font-weight: 500;
}

.form-wraps {
  width: 100%;
  max-width: 1271.57px;
  opacity: 1;
}

._24px.bigh {
  font-size: 24px;
  line-height: 48px;
}

.text-span {
  color: #e717a7;
  font-weight: 700;
  cursor: pointer;
}

.success-message-2 {
  padding-left: 0px;
  background-color: transparent;
  color: #e717a7;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}

.text-block-2 {
  padding-top: 10px;
  color: #bebebe;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.section-2 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.grid-4 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-block-3 {
  margin-right: auto;
  margin-left: auto;
}

.paragraph {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.image-28 {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1094px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.image-29 {
  position: absolute;
  left: auto;
  top: auto;
  right: 20%;
  bottom: 15%;
  z-index: -9;
  clear: both;
}

.image-30 {
  position: absolute;
  top: auto;
  right: 19%;
  bottom: 15%;
  z-index: -9;
  clear: none;
}

.div-block-5 {
  width: 800px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.background-video {
  width: 100%;
  height: 437.69px;
  margin-right: auto;
  margin-left: auto;
  border: 10px solid #ffd3f0;
  border-radius: 8px;
}

.div-block-7 {
  position: relative;
  top: -115px;
  z-index: -9;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  border-top: 8px solid #ffe8f7;
}

.div-block-7.potrait {
  display: none;
}

.form-des {
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

.div-block-8 {
  display: block;
  overflow: visible;
  max-width: 424px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-9 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.form-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-3 {
  margin-bottom: 28px;
  color: #e717a7;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.paragraph-2 {
  font-size: 18px;
  line-height: 28px;
}

.div-block-13 {
  width: 530px;
}

.div-block-14 {
  padding-bottom: 30px;
}

.dropdown-link {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #ffe8f7;
  opacity: 1;
  color: #000;
  font-size: 16px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.text-block-4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.dropdown {
  overflow: visible;
  background-color: transparent;
  text-align: left;
}

.dropdown-link-2 {
  background-color: #ffe8f7;
  color: #000;
  font-size: 16px;
}

.dropdown-link-3 {
  border-radius: 0px;
  background-color: #ffe8f7;
  color: #000;
  font-size: 16px;
}

.text-span-2 {
  color: #000;
}

.dropdown-toggle {
  color: rgba(0, 0, 0, 0.8);
}

.form-block-2 {
  margin-right: 200px;
  margin-left: 198px;
}

.hero-subscribe-right {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 46%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.shadow-two {
  box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.hero-form {
  margin-bottom: 12px;
}

.hero-form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-form-input {
  width: 240px;
  height: auto;
  margin-right: 9px;
  margin-bottom: 0px;
  padding: 5px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d6db;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
}

.hero-form-input:hover {
  border-color: #76879d;
}

.hero-form-input:focus {
  border-color: #76879d;
}

.hero-form-input::-webkit-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.hero-form-input:-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.hero-form-input::-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.hero-form-input::placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.button-primary {
  padding: 12px 25px;
  background-color: #1a1b1f;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary.footer-form-button {
  position: absolute;
  right: 8px;
  padding: 8px 18px;
}

.text-link-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.arrow-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2px;
}

.form-block-3 {
  margin-right: 250px;
  margin-left: 250px;
}

.container-3 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-3 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.submit-button-3 {
  padding: 0px 40px 20px 0px;
  border-radius: 24px;
  background-color: #020a1e;
  color: #fff;
}

.submit-button-4 {
  margin-left: 469px;
  background-color: #020a1e;
}

.form-block-4 {
  padding-right: 140px;
  padding-left: 140px;
}

.submit-button-5 {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  background-color: #e717a7;
}

.text-field-3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.form-block-5 {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.columns {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.submit-button-6 {
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 8px;
  background-color: #e717a7;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-field-5 {
  width: 350px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.submit-button-7 {
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  background-color: #e717a7;
  font-size: 20px;
  font-weight: 500;
}

.container-5 {
  display: block;
  padding-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-6 {
  height: 50px;
  border-radius: 8px;
}

.text-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #e717a7;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.section-4 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(255, 232, 247, 0);
}

.footer-subscribe {
  position: relative;
  padding: 50px 30px 40px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #020a1e;
}

.footer-form-two {
  margin-bottom: 40px;
  padding: 64px;
  background-color: #f5f7fa;
}

.footer-form-container-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-form-title {
  font-size: 24px;
  line-height: 32px;
}

.footer-form-block-two {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-form-input {
  width: 460px;
  height: 48px;
  margin-bottom: 0px;
  padding: 12px 180px 12px 20px;
  border: 1px none #000;
}

.footer-form-input::-webkit-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.footer-form-input:-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.footer-form-input::-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.footer-form-input::placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.footer-wrapper-three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-block-three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-link-three {
  margin-right: 20px;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.footer-link-three:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-social-block-three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -32px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.footer-social-link-three {
  margin-left: 32px;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e717a7;
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.footer-copyright {
  color: #fff;
}

.footer-legal-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-legal-link {
  margin-left: 24px;
  color: #3a4554;
}

.footer-legal-link:hover {
  color: #3a4554;
}

.image-31 {
  background-color: #fff;
}

.image-32 {
  background-color: #fff;
}

.image-33 {
  background-color: #fff;
}

.image-34 {
  background-color: #fff;
}

.container-6 {
  padding-top: 60px;
}

.container-7 {
  padding-top: 0px;
}

.text-block-6 {
  font-size: 16px;
  text-align: center;
}

.form-block-6 {
  display: block;
  margin-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-8 {
  padding-bottom: 50px;
}

.text-block-7 {
  font-size: 18px;
}

.success-message-3 {
  background-color: hsla(0, 0%, 86.7%, 0);
}

.text-block-8 {
  font-size: 18px;
  font-weight: 300;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.dropdown-toggle-2 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  background-color: #e717a7;
}

.text-block-10 {
  color: #fff;
  font-size: 16px;
}

.icon-2 {
  color: #fff;
}

.dropdown-list-2 {
  background-color: #ffdef3;
}

.dropdown-list-2.w--open {
  font-size: 16px;
}

.grid-5 {
  grid-auto-flow: column;
  grid-auto-rows: 0px;
  grid-template-areas: "Area"
    "Area-2";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 187px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-subscribe-2 {
  position: relative;
  padding: 50px 30px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #0e131d;
  background-color: #020a1e;
  color: #fff;
}

.footer-link-three-2 {
  margin-right: 20px;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.footer-link-three-2:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-social-block-three-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -32px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-bottom-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-copyright-2 {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #fff;
}

.text-block-11 {
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.link {
  margin-right: 20px;
  margin-left: 20px;
  color: #fff;
  text-align: left;
  text-decoration: none;
}

.error-message-2 {
  background-color: #ffe4e7;
}

@media screen and (min-width: 1280px) {
  .nav-menu {
    margin-right: 0px;
  }

  .brand {
    max-width: 272px;
  }

  .nav-button {
    padding: 15px 35px;
    background-color: #e717a7;
  }

  .top-img {
    max-width: 400px;
  }

  .heading-1 {
    font-size: 59px;
    line-height: 74px;
  }

  .text-block {
    font-size: 30px;
  }

  .submit-button-2 {
    font-size: 26px;
    line-height: 26px;
  }

  .dropdown-link {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffe8f7;
  }

  .text-block-4 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.42px;
  }

  .dropdown-link-2 {
    background-color: #ffdef3;
    color: #000;
  }

  .dropdown-link-3 {
    margin-bottom: auto;
    padding-bottom: 10px;
    border-radius: 0px;
    background-color: #ffdef3;
    color: #000;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .text-span-2 {
    color: #000;
  }

  .dropdown-toggle {
    border-radius: 8px;
    background-color: #e717a7;
  }

  .dropdown-toggle.w--open {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 13px;
  }

  .form-block-2 {
    margin-right: 200px;
    margin-left: 200px;
  }

  .container-5 {
    padding-top: 20px;
  }

  .icon {
    color: hsla(0, 0%, 100%, 0.8);
  }

  .dropdown-list {
    background-color: #e717a7;
  }

  .dropdown-list.w--open {
    background-color: rgba(231, 23, 167, 0);
    color: #fff;
  }

  .text-block-9 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .heading-1 {
    font-size: 67px;
    line-height: 84px;
  }

  .max-86 {
    min-width: 22px;
  }

  .flex.top-20 {
    margin-top: 20px;
  }

  .form-block {
    padding-right: 70px;
    padding-left: 70px;
  }

  .form-block.subscribe-block {
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-block {
    font-size: 36px;
  }

  .close {
    width: 26px;
  }

  .image-30 {
    right: 31.5%;
    bottom: 15%;
  }

  .div-block-6 {
    position: relative;
    top: -120px;
    z-index: -9;
    height: 8px;
    max-width: 1094px;
    margin-right: auto;
    margin-left: auto;
    border-top: 8px solid #ffe8f7;
  }

  .div-block-9 {
    width: 1280px;
  }

  .form-3 {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .dropdown-link {
    margin-bottom: 1px;
  }

  .dropdown-link-2 {
    margin-bottom: 1px;
  }

  .form-4 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .text-field-3 {
    margin-top: auto;
  }

  .text-field-4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .container-5 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    text-align: center;
  }

  .line-1 {
    width: 30px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, right top, from(#43e4d0), to(#96f3e8));
    background-image: linear-gradient(90deg, #43e4d0, #96f3e8);
  }

  .nav-menu {
    margin-right: 0px;
    padding: 20px;
    background-color: #fff;
  }

  .menu-button {
    padding: 10px;
  }

  .menu-button.w--open {
    border-radius: 8px;
    background-color: #fff;
  }

  .nav-link-2 {
    text-align: center;
  }

  .grid-3 {
    -ms-grid-columns: 100px;
    grid-template-columns: 100px;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .padding {
    height: 20px;
  }

  .nav-button {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .top-img {
    width: 20%;
  }

  .heading-1 {
    font-size: 42px;
    line-height: 55px;
  }

  .max-86 {
    max-width: 13px;
    min-width: 13px;
  }

  ._40px-bold.pink {
    text-align: center;
  }

  .form {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .line-2 {
    width: 30px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, right top, from(#43e4d0), to(#96f3e8));
    background-image: linear-gradient(90deg, #43e4d0, #96f3e8);
  }

  .line-3 {
    width: 30px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, right top, from(#43e4d0), to(#96f3e8));
    background-image: linear-gradient(90deg, #43e4d0, #96f3e8);
  }

  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._24px.bigh {
    font-size: 20px;
    line-height: 24px;
  }

  .text-span {
    font-size: 20px;
    line-height: 30px;
  }

  .section-2 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .div-block-4 {
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-5 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .background-video {
    height: 410px;
  }

  .div-block-7 {
    max-width: 480px;
  }

  .form-des {
    text-align: center;
  }

  .div-block-8 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .div-block-9 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .container-2 {
    max-width: 728px;
  }

  .hero-wrapper {
    margin-bottom: -40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer-form-two {
    padding: 40px;
  }

  .footer-form-title {
    margin-right: 15px;
  }

  .footer-form-input {
    width: 400px;
    padding-right: 180px;
  }

  .footer-wrapper-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-social-block-three {
    margin-top: 40px;
  }

  .footer-social-block-three-2 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .section.hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .nav-link-2.lft._24px {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .grid-3 {
    -ms-grid-columns: 100px;
    grid-template-columns: 100px;
  }

  .container.flex-apart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .container._1245 {
    border-bottom-left-radius: 40px;
  }

  .right-block.max-514 {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .max-86 {
    left: 0%;
    bottom: 29%;
  }

  .heading-50px {
    font-size: 36px;
    line-height: 44px;
  }

  .para-36px {
    font-size: 24px;
    line-height: 32px;
  }

  .max-98 {
    width: 60px;
  }

  .flex {
    left: -26px;
  }

  .brand-wrap {
    padding-left: 30px;
  }

  .max-652 {
    font-size: 16px;
  }

  ._16px-reg {
    margin-top: 5px;
  }

  .form-sha {
    padding-bottom: 40px;
  }

  .form {
    max-width: none;
  }

  .footer-max-340 {
    width: 40%;
  }

  .img-wrapper {
    width: 80%;
  }

  .form-block {
    padding-bottom: 40px;
    border-top-width: 10px;
  }

  .text-block {
    padding-top: 40px;
    line-height: 28px;
  }

  .close {
    width: 16px;
  }

  .div-block {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .section-2 {
    padding-bottom: 120px;
  }

  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    padding: 30px 0px 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 100px;
  }

  .paragraph {
    text-align: left;
  }

  .image-28 {
    margin-right: 20px;
    margin-left: 0px;
  }

  .div-block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-5 {
    margin-top: -300px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .background-video {
    height: 350px;
  }

  .div-block-7 {
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 693px;
    display: block;
    height: 300px;
    max-width: 8px;
    border-right: 8px solid #ffe8f7;
    border-top-width: 0px;
    border-top-color: transparent;
  }

  .div-block-7.potrait {
    left: -40%;
    bottom: 515px;
    display: block;
    height: 400px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block-7.landscape {
    bottom: auto;
    display: none;
    height: 0px;
  }

  .hero-subscribe-right {
    padding: 60px 15px;
  }

  .footer-subscribe {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-form-container-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-form-title {
    margin-right: 0px;
  }

  .footer-form-block-two {
    width: 100%;
    margin-top: 20px;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-block-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-link-three {
    margin-bottom: 10px;
  }

  .footer-social-block-three {
    margin-top: 10px;
  }

  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-legal-block {
    margin-top: 15px;
    margin-left: -24px;
  }

  .footer-legal-link {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-subscribe-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-link-three-2 {
    margin-bottom: 10px;
  }

  .footer-social-block-three-2 {
    margin-top: 10px;
  }

  .footer-bottom-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-copyright-2 {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-right: 16px;
    padding-left: 16px;
  }

  .line-1 {
    width: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #e717a7;
    background-image: none;
  }

  .nav-menu {
    padding-top: 10px;
    background-color: #ffdef3;
  }

  .brand {
    max-width: 170px;
    padding-left: 0px;
  }

  .section {
    padding-right: 16px;
    padding-bottom: 40px;
    padding-left: 16px;
  }

  .section.footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .section.n-two {
    padding-bottom: 40px;
  }

  .nav-link-2.lft {
    font-size: 14px;
    line-height: 34px;
  }

  .nav-link-2.lft._24px {
    margin-top: 0px;
  }

  .footer-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  ._18px-2 {
    margin-bottom: 0px;
  }

  ._16px-2._26px {
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 14px;
    text-align: center;
  }

  ._16px-2._50-opa {
    display: none;
  }

  ._16px-2._50-opa.mobile {
    display: block;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    text-align: center;
  }

  .top-img {
    width: 30%;
  }

  .container._1245 {
    padding-top: 30px;
  }

  .container.footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .container._20 {
    padding-left: 1.8em;
  }

  .right-block.max-514 {
    max-width: 330px;
  }

  .heading-1 {
    padding-left: 30px;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
  }

  .max-86 {
    bottom: 15%;
    max-width: 10px;
    min-width: 10px;
  }

  .for-brand-wrap.no-80 {
    margin-bottom: 80px;
  }

  .heading-50px {
    font-size: 32px;
  }

  .padding-16-16 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .padding-16-16.make-flex {
    margin-top: 30px;
  }

  .para-36px {
    font-size: 20px;
    line-height: 28px;
  }

  .flex {
    left: 0px;
  }

  .flex.top-20 {
    left: 0px;
  }

  .sticky-pill {
    top: 40%;
  }

  .pill-parent {
    min-height: 730px;
  }

  .max-652 {
    font-size: 14px;
    line-height: 24px;
  }

  .form-sha {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .padding-28-21 {
    font-size: 16px;
    line-height: 24px;
  }

  .field-label {
    line-height: 20px;
  }

  .text-field {
    height: 42px;
    margin-bottom: 20px;
  }

  .submit-button {
    width: 100%;
  }

  .footer-max-340 {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-26 {
    top: 20%;
  }

  .bg-relative {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .line-2 {
    width: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #e717a7;
    background-image: none;
  }

  .line-3 {
    width: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #e717a7;
    background-image: none;
  }

  .formsppp {
    width: 100%;
    padding-right: 18px;
    padding-left: 18px;
  }

  .form-block {
    padding: 20px 18px;
  }

  .text-block {
    line-height: 26px;
  }

  .text-field-2 {
    padding-right: 0px;
    padding-left: 3px;
    font-size: 14px;
    text-align: center;
  }

  .submit-button-2 {
    padding-left: 52px;
  }

  ._24px.bigh {
    font-size: 16px;
    line-height: 20px;
  }

  .text-span {
    font-size: 20px;
    line-height: 20px;
  }

  .image-27 {
    width: 30px;
  }

  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .section-2 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .div-block-5 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .background-video {
    height: 200px;
  }

  .div-block-7.potrait {
    left: -33%;
    padding-left: 2px;
  }

  .div-block-10 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div-block-13 {
    width: 100%;
  }

  .container-2 {
    max-width: none;
  }

  .hero-form {
    margin-bottom: 15px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .hero-form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-form-input {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
  }

  .button-primary.footer-form-button {
    position: relative;
    right: 0px;
  }

  .form-block-5 {
    margin-right: 100px;
    margin-left: 100px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-2 {
    padding-right: 70px;
    padding-left: 70px;
  }

  .container-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .text-field-6 {
    border-radius: 8px;
  }

  .text-block-5 {
    font-size: 30px;
  }

  .footer-form-two {
    padding: 20px;
  }

  .footer-form-block-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-form-input {
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .footer-wrapper-three {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-block-three {
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .column-3 {
    padding-right: 70px;
    padding-left: 70px;
  }

  .dropdown-2 {
    padding-top: 14px;
  }

  .footer-bottom-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-copyright-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .link {
    padding-top: 20px;
  }
}

@font-face {
  font-family: 'Fontsfree net sfprodisplay';
  src: url("/assets/fonts/fontsfree-net-sfprodisplay-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fontsfree net sfprodisplay';
  src: url("/assets/fonts/fontsfree-net-sfprodisplay-medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fontsfree net sfprodisplay';
  src: url("/assets/fonts/fontsfree-net-sfprodisplay-heavy.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fontsfree net sfprodisplay';
  src: url("/assets/fonts/fontsfree-net-sfprodisplay-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fontsfree net sfprodisplay';
  src: url("/assets/fonts/fontsfree-net-sfprodisplay-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neoneon';
  src: url("/assets/fonts/neoneon.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}